*~
*#
/elpa
/recentf
/.org-id-locations
/auto-save-list
/backups
/network-security.data

/config.el
/config.elc

/personal.el
/personal.elc

/magithub
/.mc-lists.el
/bookmarks
/projectile-bookmarks.eld
/server
.cask
