*~
*#
*.swp
/elpa
/quelpa
/recentf
/.org-id-locations
/auto-save-list
/backups
/network-security.data

/config.el
/config.elc

/personal.el
/personal.elc

/ac-comphist.dat
/projectile-bookmarks.eld

/.python-environments
/bookmarks
/eshell
/magithub
/request
/server
/tramp
/url

/work.el
/.mc-lists.el
